<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @kitty.name %>!</h1>
    <p>Thanks for reserving an amazing castle, have a great day! Meow you can sign in and do
awesome things!</p>
  </body>
</html>
